@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0px 0;
}

/* Heading */
.heading h2{
    font-size: 28px;
    font-weight: 500;
    border-left: 8px solid #c6a42b;
    padding: 5px 15px;
    margin-bottom: 15px;
}
.heading p{
    font-size: 19px;
    font: weight 100px; 
    line-height: 2;
}
.heading p span{
    font-weight: 600;
    color: #331a4b;
    line-height: 2;
}

/* Buttons */
.btn1{
    font-size: 1rem;
    font-weight: 400;
    background-color: #00f84e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: all 0.5s;
}
.btn1:hover{
    background-color: #52dce8;
    color: #303054;
}

/* Header */
header{
    background-color: #ae07b7;
    width: 120%;
    
}

header .navbar-brand{
    font-size: 50px;
    font-weight: 500;
    color: #bb5050;
}

nav{
    padding: 7px 0px !important;
}

.cont-sec{
    padding: 1px;
    background-color: #eec523;
    width: 110%;
}

.cont-sec .contact-cont{
    display: flex;
    flex-wrap: wrap;
}
.cont-sec p{
    margin: 10;

    
}
.cont-sec p a{
    text-decoration: none;
    color: #272829;
}
.pm{
    height: 40px;
    width: 50px;
}
.cont-sec .social{
    text-align: right;
}

.cont-sec .social a img{
    width: 20px;
    margin-left: 35px;
}

.home-sec{
    /* height: 100vh; */
    background-image: url("https://wallpapercave.com/wp/wp5935434.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.home-sec .home-content {
    align-items: right;
    text-align: center;
}

.home-sec .home-content h1{
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 20px;

} 
.home-sec .home-content h2 span{
    color: #5e00d0;
}

.home-sec .home-content h2{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.home-sec .home-content p{
    font-size: 1.3rem;
    margin-bottom: 30px;
    text-align: center;
}

.home-sec .img-sec{
    display: flex;
    justify-content: center;
}

.home-sec .img-sec img{
    width: 280px;
    height: 300px;

}

.home-sec .home-content{
    align-items: center;
    padding: 120px 0;
}

/* Game Section */
.don-sec{
    background-image: url("https://wallpapercave.com/wp/wp5935434.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.don-sec .don-box{
    margin: 50px 0;
    background-color: #d4ef7b;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 15px #b4afaf;
    transition: all 1s;
}

.don-sec .don-box img{
    width: 70px;
    transition: all 1s;
}

.don-sec .don-box h3{
    margin: 15px 0 10px;
}

.don-sec .don-box p{
    margin-bottom: 25px;
}

.don-sec .don-box:hover img{
    transform: scale(1.1);
}

/* About Section */
.about-id{
    background-image: url("https://wallpapercave.com/wp/wp5935434.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}


.gallery-sec{
	position: relative;
	padding: 50px 0;
}

.gallery-sec .image-container{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 10px;
}

.gallery-sec .image-container .image{
	height: 200px;
	width: 300px;
	box-shadow: 0 0 15px rgb(178, 190, 14);
	cursor: pointer;
	overflow: hidden;
}

.gallery-sec .image-container .image img{
	height: 100%;
	width: 100%;
	border: 5px solid #190e0e;
	object-fit: cover;
	transition: 0.2s linear;
}

.gallery-sec .image-container .image:hover img{
	transform: scale(1.1);
}

.gallery-sec .pop-image{
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(32, 216, 106, 0.8);
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}

.gallery-sec .pop-image span{
	position: absolute;
	top: 120px;
	right: 50px;
	font-size: 60px;
	font-weight: bolder;
	color: #5df649;
	cursor: pointer;
	z-index: 100;
}

.gallery-sec .pop-image img{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #ffffff;
	width: 750px;
	object-fit: cover;
}
/*  Instruction section*/
.Instructions{
    background-image: url("https://wallpapercave.com/wp/wp5935434.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0;
}
.instruction p{
    text-align: right;
}
/* Footer */
footer{
    background-color: #d66d1d;
    color: #e0dae0;
    padding: 50px 0;
    line-height: 1.5;
}
footer h4{
    margin-bottom: 20px;
}
footer p{
    line-height: normal ;
    font-size: 18px;
    text-align: left;
}
footer p a{
    text-decoration: none;
    color: #484e52;
}
footer p a:hover{
    text-decoration: none;
    color: #ef76fc;
}


footer .col-two ul li{
    list-style: none;
}

footer .col-two ul li a{
    color: #e6edff;
    text-decoration: none;
    transition: all 0.5s;
}
footer .col-two ul li a:hover{
    margin-left: 5px;
}
footer .social{
    margin-bottom: 30px;
}
footer .social a img{
    width: 40px;
    margin-right: 15px;
}

/* Scroll Bar */

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb{
    background: hsl(312, 74%, 49%);
}
